* {
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
}

input,
button,
select,
textarea {
    border: 0;
    outline: none;
}

.flex-full-prompt {
    @apply flex w-full h-full
}

.flex-full-prompt {
    @apply z-50 absolute left-0 top-0
}